<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/notfound.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>404 Page Not Found</h1>
              <span class="subheading"
                >Please check and enter the correct url.</span
              >
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p>
              The notorious 404 error, “Not Found,” is often, not totally
              erroneously, referred to as “the last page of the internet.” It’s
              an obligatory heads-up with an outsize reputation; it is a meme
              and a punch line. Bad puns abound. The error has been printed in
              comics and on T-shirts, an accessible and relatable facet of what
              was once relegated to nerd humor and is now a fact of digital
              life.
            </p>
            <p>
              That the 404 should have crossover appeal seems fitting. It is
              near-universal and inherently emotional: pure disappointment, the
              announcement of an unanticipated problem. It’s also a reminder
              that technology, and the web in particular, is made by humans, and
              therefore fallible. The internet, after all, is hardly a
              well-oiled machine; it’s more like a version of The Garden of
              Earthly Delights built by unidirectional hypertext and populated
              by broken links, corrupted image files, and incomplete
              information.
            </p>
            <p>
              Not long after it appeared, the error code began to enjoy, or
              endure, its share of lore. In the early 2000s, the idea bubbled up
              that the 404 came from, well, room 404; that this room housed the
              web’s first servers, at CERN (the European Organization for
              Nuclear Research, in Switzerland); that World Wide Web inventor
              Tim ­Berners-Lee had his office there; that he frequently could
              not be found.
            </p>
            <p>
              “Sigh,” wrote Robert Cailliau, a pioneer, with Berners-Lee, of the
              hypertext structure that led to the web. When asked for comment on
              the 404 error, he seemed less than thrilled to be approached with
              what he called “trivia.” Cailliau was adamant that the mythology
              is hogwash.
            </p>
            <p>
              Error codes were a necessity but not a center-stage concern. “When
              you write code for a new system, you don’t waste too much time
              writing long messages for the situations in which you detect an
              error,” Cailliau wrote in an email to me. Memory was, at the time,
              also an issue; longer messages were impractical. (“Modern geeks
              have no longer any idea what it was like to program with 64k of
              memory,” he wrote.)
            </p>
            <p>
              The solution was straightforward: designate numerical ranges for
              error categories. This was done, in Cailliau’s telling, “according
              to the whims of the programmer.” Client errors fell into the 400
              range, making “404” a relatively arbitrary assignation for “not
              found.” Cailliau was adamant: “404 was never linked to any room or
              any physical place at CERN,” he wrote. “That’s a complete myth.”
            </p>
            <p>
              When asked if he had any theories about why the error so enchanted
              people, Cailliau wrote “I don’t even have a hunch about the 404
              fascination. And frankly I don’t give a damn. The sort of
              creativity that goes into 404 response pages is fairly useless.
              The mythology is probably due to the irrationality, denial of
              evidence, and preference for the fairy tale over reality that is
              quite common in the human species … These human traits were
              relatively innocent in the past, when individual influence was
              small and information spread slowly. Today, and in no small way
              due to the existence of the net, these traits have gained a power
              that is dangerous.” As examples, he cited the election of Donald
              Trump, the deterioration of the EU, meek political responses to
              gun violence, and the proliferation of euphemism (“climate
              change”). Or the fascination could just be a dash of humanity, an
              appreciation that the internet is made by humans, and
              humans—especially on the internet—are often bored.
            </p>
            <p>
              Whatever the appeal, the 404 is firmly cemented in the mainstream:
              Even Hillary Clinton’s campaign website displayed a photograph of
              the presidential candidate trying—and failing—to swipe a
              MetroCard, a sort of “oh, me” auto­eyeroll. It’s now a place where
              corporate “voice” roams free, chummily empathizing or leveling
              with the thwarted user (in other words, a branding opportunity).
              Or perhaps it’s just a way of breaking down the fourth wall.
              Tumblr takes a cheeky approach: “There’s nothing here ... Unless
              you were looking for this error page, in which case: Congrats! You
              totally found it.” Pixar’s 404 page reads, “Awww … Don’t Cry. It’s
              just a 404 Error!” next to an illustration of the Sadness
              character from Inside Out. Bloomberg offers a triptych animation
              of a man slapping a computer off a desk, then spontaneously
              breaking into pieces. The latter is a little bizarre—and slightly
              dramatic. Then again, who among us hasn’t been there—especially
              while en route to somewhere else?
            </p>
          </div>
        </div>
      </div>
    </article>

    <hr />

    <%- include('layouts/footer'); -%> <%- include('layouts/scripts'); -%>
  </body>
</html>
